/*
 ======= Couleurs ==========
Primaire (violet): #9356DC;
Secondaire (rose): #FF79DA;
Tertaire (bluemarine): #99E2D0;
*/

/*======== Variables ========*/

       /*** colors ***/

       $color-violet: #9356DC; //primary
       $color-pink: #FF79DA; //secondary
       $color-bluemarine: #99E2D0; //tertary
       $color-black: #000;
       $color-btn-pink: linear-gradient( to bottom, #FF79DA, #9356DC);
       $color-grey: #f6f6f6;
       
       $color-footer: #353535;
       
       $color-text-light: #fff; //white
       $color-text-dark: #333;