@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/carte.scss";
  
/*======== Modèles ========*/

%shadow{
    box-shadow: .5rem .6rem .7rem rgba(86 88 92 / 22%)
}
%mb{
    margin-bottom: 2.5rem;
}
.header__title,
.footer__title,
.content__title {
    font-family: 'Shrikhand', cursive;
}
.section__title {
    margin-bottom: 3rem;
}

/*******************/
/*      HEADER     */
/*******************/ 
.header{
    width: 100%;
    height: 6.5rem;  
    align-content: center;  
    &__title {
        margin-top: 2rem;
        margin-bottom: 1.8rem; 
    }
    &__title h1{    
        font-size: 3rem;
        text-align: center;      
    }
}

/*********************/
/* SECTION  LOCATION */
/*********************/
.reservation {
    text-align: center;
    .location {
        text-align: center;
        background-color: #eaeaea;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & i {
            font-size: 1.8rem;
        }
        &__input {
            background-color: #eaeaea;
            height: 3.5rem;
            margin-left: 2rem;
            font-size: 1.5rem;
        }
    }
    
    .info {
        background-color: $color-grey;
        height: auto;
        padding: 3.5rem;
        position: relative;   
        & h2 {
            display: block;
            padding-bottom: 1.5rem; 
            font-weight: 600;  
            font-size: 2.5rem; 
            line-height: 1.2;
        }
        & p {
            display: block;
            padding-bottom: 2rem;
            font-weight: 200;
            font-size: 1.7rem;
            line-height: 1.3;
        }
        & a {
            display: inline-block;
        }
        &__btn:link,
        &__btn:visited {
            background-image: linear-gradient( to bottom, $color-pink, $color-violet);
            border-radius: 2.5rem;
            padding: 1.5rem 2.3rem;
            color: $color-text-light;
            @extend %shadow;
            transition: all 1s;
            font-size: 1.5rem;
            transition-property: color, background-color;
            transition-timing-function:ease-out;
        } 
        &__btn:hover {
            transform: translateY(-0.1em);
            box-shadow: 0 0.5em 0.5em -0.4em rgba(86, 88, 92, 0.22);
            background-image: linear-gradient( 45deg, $color-violet, 20%, $color-pink);
            
        }
        &__btn:active {
            transform: translateY(-.1rem);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }
    }
}

/***********************************/
/*      SECTION FONCTIONNEMENT     */
/***********************************/ 
.fonctionment {
    padding: 3rem 2.5rem;
    .container {
        margin-bottom: 1rem;
        ul {
            counter-reset: ListCount;
            margin: 3rem auto;
            margin: 3rem auto;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include respond(tab_land) {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
            }
            li {
                padding: 1.5rem;
                background: $color-grey;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-black; 
                width: 32rem;       
                height: 7.2rem;
                @extend %shadow;
                border-radius: 1.8rem;
                font-weight:400;
                font-size: 1.5rem;
                text-align: center;
                @extend %mb;
                position: relative;
                @include respond(tab_land) {
                    width:40rem;
                }
                
                &:before {
                    counter-increment: ListCount 1;
                    content: counter(ListCount);
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 1rem;
                    background-color: $color-violet;
                    color: $color-text-light;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translate(-50%, -50%);
                }
                i {
                    font-size: 2rem;
                    color: grey;
                    margin-right: 2rem;
                }          
                &:hover {
                    background-color: $color-btn-clair;
                    i {
                        color: $color-violet;
                    }
                }
                span .title-btn {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }
    }
}
/***********************************/
/*      SECTION RESTAURANTS        */
/***********************************/
.resto {
    background-color: $color-grey;
    height: auto;
    padding: 2.5rem 1.5rem;
    .container {
        margin: 3rem 0rem;
    }
    .cards {
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center;      
            @include respond(tab_land) {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
            }
            .card{
                display: block;
                width: 32rem;
                height: 25rem;
                margin: 0  .2rem;
                @extend %shadow;
                background-color: #fff;
                border-radius: 1.5rem;
                margin-bottom: 1.8rem; 
                position: relative;
                transform: scale(1, 1);
                transition: all 0.8s ease 0s;
                img {
                    height: 17.5rem;
                    width: 100%;
                    border-radius: 1rem 1rem 0 0;
                    object-fit: cover;
                }
                &__badge--new{
                    background: #99e1cf;
                    color: #138668;
                    padding: 1rem 2rem;
                    border-radius: 0.125rem;
                    position: absolute;
                    top: 1.5rem;
                    right: 1.75rem;
                }
                &__info {
                    padding: 1rem 2rem 1rem 1rem;
                    display: flex;
                    flex-direction: row;
                    .text {
                        width: 70%;
                    }
                    .title{
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 1.8;
                    }
                    span {
                        font-size: 1.7rem;
                        font-weight: 200;
                    }
                }
                &__heart {
                    width: 9rem;
                    height: 5rem;
                    padding: 0;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    background: transparent;
                    i {
                        position: absolute;
                    }
                    .fa-regular {
                        font-size: 2rem;
                        &:hover {
                            opacity: 0;
                        }    
                    }
                    .fa-solid {
                        font-size: 2rem;
                        opacity: 0;
                        color: #9933ff;
                        &:hover {
                           opacity: 1;
                        //     color: linear-gradient(0deg,#9356dc,#ff79da);
                        //     transition: all 0.5s;
                        }
                    }
                }
                @include respond(desktop_m) {
                    width: 40rem;
                }  
            }
    }
}
/***********************************/
/*             FOOTER              */
/***********************************/
footer {
    background-color: $color-footer;
    position: relative;
    padding: 1rem;
    .footer__title {
        font-size: 1.8rem;
        color: $color-text-light;
        margin: 3rem 3rem 2rem 3rem;
    }
}
.navigation {
    list-style: none;
    margin-bottom: 4rem;
    
    li {
        margin-left: 2rem;
        padding: .6rem; 
        a {
            color:$color-text-light;
            font-size: 1.5rem;
        } 
        a.link {
            font-weight: 600;
        }  
        a.link i{
            margin-right: 1rem;
        } 
    }
}
