@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";

@import "pages/";
      
/*======== Modèles ========*/
%shadow{
    box-shadow: .5rem .6rem .7rem rgba(86 88 92 / 22%)
}
%mb{
    margin-bottom: 1.5rem;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
 
.header__title,
.footer__title{
    font-family: 'Shrikhand', cursive;
}
.section__title {
    margin-bottom: 2rem;
}
.header{
    height: 5rem;
    padding: 1.5rem;
    &__title h1{    
        font-size: 2.2rem;
        text-align: center;    
    }
}
// .header h1 {
//     animation-name: moveInLeft;
    
// }
// .go-back-icon{
//     animation: moveInLeft;
//     animation-duration: 5s;
// }
.reservation {
    text-align: center;
}
.reserv {
    background-color: $color-grey;
    height: auto;
    padding: 3.5rem;
    position: relative;
    &__location{
        background-color: #eaeaea;
        height: 3.5rem;
        .input-location{
            background-color: #eaeaea;
            height: 3.5rem;
        }
    }
    &__title{
        display: block;
        padding-bottom: 1.5rem; 
        font-weight: 600;  
        font-size: 1.8rem; 
    }
    &__subtitle{
        display: block;
        padding-bottom: 2rem;
        font-weight: 200;
    }
    &__btn:link,
    &__btn:visited {
        background-image: linear-gradient( to bottom, $color-pink, $color-violet);
        border-radius: 2.5rem;
        padding: 1.2rem 1.5rem;
        color: $color-text-light;
        @extend %shadow;
        transition: all .25s;
    } 
    &__btn:hover {
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 0.5em -0.4em rgba(86, 88, 92, 0.22);
       

    }
    &__btn:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
}
 
.fonction {
    background-color: beige;
    padding: 2.5rem;

    &__title{
        padding-bottom: 2rem;
    }
    &__btn{
        background-color: $color-grey;        
        height: 5.5rem;
        @extend %shadow;
        border-radius: 1.8rem;
        font-weight:400;
        font-size: 1.5rem;
        text-align: center;
        @extend %mb;
    }
}
.resto {
    background-color: $color-grey;
    height: auto;
    padding: 1.5rem;
}
.card__resto{
    width: 25rem;
    margin: 0  auto;
    @extend %shadow;
    background-color: #fff;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem; 
}

.card__image {
    height: 14.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: relative;
    overflow: hidden;  
}
.card__body {
    padding: 1rem;
}
.card__image img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*** FOOTER ***/
footer {
    background-color: $color-footer;
    .footer__title {
        font-size: 2rem;
        color: $color-text-light;
        margin: 3rem;
    }
}
.navigation {
    list-style: none;
    margin-bottom: 3rem;

    li {
        margin-left: 2rem;
        padding: .6rem; 
        a {
            color:$color-text-light;
            font-size: 1.5rem;
        } 
        a.link {
            font-weight: 600;
        }  
    }
}

