@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";

@import "layout/header";


      
/*======== Modèles ========*/
%shadow{
    box-shadow: .5rem .6rem .7rem rgba(86 88 92 / 22%)
}
%mb{
    margin-bottom: 2.5rem;
}

html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
 
.header__title,
.footer__title{
    font-family: 'Shrikhand', cursive;
}
.section__title {
    margin-bottom: 3rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 600;
    }

.header{
    height: 6rem;  
    align-content: center;  
    &__title {
        margin-top: 2rem;
        margin-bottom: 1.8rem; 
    }
    &__title h1{    
        font-size: 3rem;
        text-align: center;
           
    }
}
// .header h1 {
//     animation-name: moveInLeft;
    
// }
// .go-back-icon{
//     animation: moveInLeft;
//     animation-duration: 5s;
// }
.reservation {
    text-align: center;
}
.reserv {
    background-color: $color-grey;
    height: auto;
    padding: 3.5rem;
    position: relative;
    &__location{
        background-color: #eaeaea;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & .location {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5rem;
        }
        & i{
            font-size: 1.8rem;
        }
        .input-location{
            background-color: #eaeaea;
            height: 3.5rem;
            margin-left: 2rem;
            font-size: 1.5rem;
        }
    }
    &__title {
        display: block;
        padding-bottom: 1.5rem; 
        font-weight: 600;  
        font-size: 2.5rem; 
        line-height: 1.2;
    }
    &__subtitle{
        display: block;
        padding-bottom: 2rem;
        font-weight: 200;
        font-size: 1.7rem;
        line-height: 1.3;
    }
    .button {
        margin: 3rem;
    }
    &__btn:link,
    &__btn:visited {
        background-image: linear-gradient( to bottom, $color-pink, $color-violet);
        border-radius: 2.5rem;
        padding: 1.5rem 2.3rem;
        color: $color-text-light;
        @extend %shadow;
        transition: all .25s;
        font-size: 1.5rem;
    } 
    &__btn:hover {
        transform: translateY(-0.25em);
        box-shadow: 0 0.5em 0.5em -0.4em rgba(86, 88, 92, 0.22);
       

    }
    &__btn:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
}
/***********************************/
/*      SECTION FONCTIONNEMENT        */
/***********************************/ 
.fonction {
    background-color: beige;
    padding: 3rem 2.5rem;
    .section__body {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .global__btn {
          position: relative; 
          & .number-btn{
            width: 2.5rem;
            height: 2.5rem;
            background-color: $color-violet;
            color: $color-text-light;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;  
            position: absolute;
            top: 38%;
            left: 1%;
            transform: translate(-50%, -50%);
            } 
        }   
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-grey;
        color: $color-black; 
        width: 32rem;       
        height: 7.2rem;
        @extend %shadow;
        border-radius: 1.8rem;
        font-weight:400;
        font-size: 1.5rem;
        text-align: center;
        @extend %mb;
    }
    &__btn:hover
    {
        background-color: $color-btn-clair;
    }
    & .body-btn {
        color: $color-black; 
    }
    & .body-btn i {
        font-size: 2rem;
        color: grey;
    }
    & .body-btn i:active {
        color: $color-violet;
    }
    & .icon-btn{
        margin-right: 2rem;
    }
    & .title-btn {
        font-size: 1.6rem;
        font-weight: 500;
    }
    
    
    
}
/***********************************/
/*      SECTION RESTAURANTS        */
/***********************************/
.resto {
    background-color: $color-grey;
    height: auto;
    padding: 2.5rem 1.5rem;
    
    .section__body {
        margin: 3rem 0rem;
    }
    .menu{
        width: 32rem;
        height: 25rem;
        margin: 0  auto;
        @extend %shadow;
        background-color: #fff;
        border-radius: 1.5rem;
        margin-bottom: 1.8rem;  
        &__hero {
            height: 17.5rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            position: relative;
            overflow: hidden;  
        }
        &__hero img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
        &__info {
            padding: 1rem 2rem 1rem 1rem;
            display: flex;
            flex-direction: row;
        }
        &__details {
            width: 70%;
        }
        &__title {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.8;
        }
        &__description {
            font-size: 1.7rem;
            font-weight: 200;
        }
        &__like-box {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }    
        &__like {
            font-size: 2.5rem;
            color: $color-black;
        }
    }   
}

/***********************************/
/*             FOOTER              */
/***********************************/
footer {
    background-color: $color-footer;
    min-height: 20rem;
    .footer__title {
        font-size: 1.8rem;
        color: $color-text-light;
        margin: 3rem 3rem 2rem 3rem;
    }
}
.navigation {
    list-style: none;
    
    li {
        margin-left: 2rem;
        padding: .6rem; 
        a {
            color:$color-text-light;
            font-size: 1.5rem;
        } 
        a.link {
            font-weight: 600;
        }  
        a.link i{
            margin-right: 1rem;
        } 
    }
}

