/* 
======= Polices ===========
Logo et Titre: Shrikhand
Texte: Roboto

======= Couleurs ==========
Primaire (violet): #9356DC;
Secondaire (rose): #FF79DA;
Tertaire (bluemarine): #99E2D0;
*/

body {
    color: red;
}
.vert {
    color: green;
}