@charset "UTF-8";
/*
 ======= Couleurs ==========
Primaire (violet): #9356DC;
Secondaire (rose): #FF79DA;
Tertaire (bluemarine): #99E2D0;
*/
/*======== Variables ========*/
/*** colors ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* ======= Polices ===========
Logo et Titre: Shrikhand (font-family: 'Shrikhand', cursive;)
Texte: Roboto
*/
/*======== Modèles ========*/
.resto .menu, .fonction__btn, .reserv__btn:link, .reserv__btn:visited {
  box-shadow: 0.5rem 0.6rem 0.7rem rgba(86, 88, 92, 0.22);
}

.fonction__btn {
  margin-bottom: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header__title,
.footer__title {
  font-family: "Shrikhand", cursive;
}

.section__title {
  margin-bottom: 3rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
}

.header {
  height: 6rem;
  align-content: center;
}
.header__title {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
.header__title h1 {
  font-size: 3rem;
  text-align: center;
}

.reservation {
  text-align: center;
}

.reserv {
  background-color: #f6f6f6;
  height: auto;
  padding: 3.5rem;
  position: relative;
}
.reserv__location {
  background-color: #eaeaea;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserv__location .location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.reserv__location i {
  font-size: 1.8rem;
}
.reserv__location .input-location {
  background-color: #eaeaea;
  height: 3.5rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.reserv__title {
  display: block;
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
}
.reserv__subtitle {
  display: block;
  padding-bottom: 2rem;
  font-weight: 200;
  font-size: 1.7rem;
  line-height: 1.3;
}
.reserv .button {
  margin: 3rem;
}
.reserv__btn:link, .reserv__btn:visited {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 2.5rem;
  padding: 1.5rem 2.3rem;
  color: #fff;
  transition: all 0.25s;
  font-size: 1.5rem;
}
.reserv__btn:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em rgba(86, 88, 92, 0.22);
}
.reserv__btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/***********************************/
/*      SECTION FONCTIONNEMENT        */
/***********************************/
.fonction {
  background-color: beige;
  padding: 3rem 2.5rem;
}
.fonction .section__body {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.fonction__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonction__btns .global__btn {
  position: relative;
}
.fonction__btns .global__btn .number-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #9356DC;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38%;
  left: 1%;
  transform: translate(-50%, -50%);
}
.fonction__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  width: 32rem;
  height: 7.2rem;
  border-radius: 1.8rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.fonction__btn:hover {
  background-color: #F5EDFF;
}
.fonction .body-btn {
  color: #000;
}
.fonction .body-btn i {
  font-size: 2rem;
  color: grey;
}
.fonction .body-btn i:active {
  color: #9356DC;
}
.fonction .icon-btn {
  margin-right: 2rem;
}
.fonction .title-btn {
  font-size: 1.6rem;
  font-weight: 500;
}

/***********************************/
/*      SECTION RESTAURANTS        */
/***********************************/
.resto {
  background-color: #f6f6f6;
  height: auto;
  padding: 2.5rem 1.5rem;
}
.resto .section__body {
  margin: 3rem 0rem;
}
.resto .menu {
  width: 32rem;
  height: 25rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1.8rem;
}
.resto .menu__hero {
  height: 17.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}
.resto .menu__hero img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resto .menu__info {
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: row;
}
.resto .menu__details {
  width: 70%;
}
.resto .menu__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8;
}
.resto .menu__description {
  font-size: 1.7rem;
  font-weight: 200;
}
.resto .menu__like-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.resto .menu__like {
  font-size: 2.5rem;
  color: #000;
}

/***********************************/
/*             FOOTER              */
/***********************************/
footer {
  background-color: #353535;
  min-height: 20rem;
}
footer .footer__title {
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem 3rem 2rem 3rem;
}

.navigation {
  list-style: none;
}
.navigation li {
  margin-left: 2rem;
  padding: 0.6rem;
}
.navigation li a {
  color: #fff;
  font-size: 1.5rem;
}
.navigation li a.link {
  font-weight: 600;
}
.navigation li a.link i {
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
