// mise à zéro
*{padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,
footer,
header,
aside{display: block;}

html,
body {
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size: 12px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/
// 1 rem = 8px, 8/16 = 50% 
html {
    // This defines what 1 rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    font-family: 'Roboto', sans-serif;

    @include respond(tab_port) { // width < ?
        font-size: 70%;
        .section__title{
            text-align: center;
        }
    }
    @include respond(tab_land) { // width > 900px ?
        font-size: 75%; // 1 rem = 12px, 12/16
        .menus{
            column-gap: 2rem;
        }
    } 
    @include respond(tablette) { //1000px
        font-size: 80%;
    }
    @include respond(desktop) {
        font-size: 85%;
    }
    @include respond(desktop_m) { //1300px
        .menus{
            row-gap: 3rem;
            column-gap: 4rem;
        }
    }
    @include respond(desktop_l) { //1600px
        .menus{
            column-gap: 6rem;
        }
    }
    @include respond(big_desktop) {
        font-size: 100%;
    }
}

