/* ======= Polices ===========
Logo et Titre: Shrikhand (font-family: 'Shrikhand', cursive;)
Texte: Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

.title {
    font-size: 2.2rem;
    font-weight: 600;
}