@charset "UTF-8";
/*
 0 - 600px: Phone
 600 - 900px: Tablette portrait
 900 - 1200px: Tablette landscape
 [1200 - 1800] is where our normal style apply
 1800px + : Bos desktop

$braekpoint argument choices:
- phone
- tab_port
- tab_land
- big_desktop

ORDER 

1em = 16px
*/
/*
 ======= Couleurs ==========
Primaire (violet): #9356DC;
Secondaire (rose): #FF79DA;
Tertaire (bluemarine): #99E2D0;
*/
/*======== Variables ========*/
/*** colors ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.wrapper,
.ball {
  width: 0.2rem;
  height: 0.2rem;
}

.wrapper {
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 0.2rem;
}
.ball-1 {
  background-color: blue;
}
.ball-2 {
  background-color: red;
}
.ball-3 {
  background-color: greenyellow;
}
.ball-4 {
  background-color: yellow;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    font-size: 70%;
  }
  html .section__title {
    text-align: center;
  }
}
@media (min-width: 56.25em) {
  html {
    font-size: 75%;
  }
  html .menus {
    column-gap: 2rem;
  }
}
@media (min-width: 62.5em) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 81.25em) {
  html .menus {
    row-gap: 3rem;
    column-gap: 4rem;
  }
}
@media (min-width: 100em) {
  html .menus {
    column-gap: 6rem;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

/* ======= Polices ===========
Logo et Titre: Shrikhand (font-family: 'Shrikhand', cursive;)
Texte: Roboto
*/
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem #00000066;
  position: relative;
  z-index: 1000;
}
.header a .arrow__back {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  color: #000;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header .logo {
  margin-top: 1rem;
  text-align: center;
  font-family: "Shrikhand", "cursive";
  font-size: 3rem;
}

.bg__image {
  max-width: 100%;
  min-height: 32rem;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #f6f6f6;
  z-index: 1000;
  position: relative;
}
@media (min-width: 62.5em) {
  .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem 0 1.5rem;
}
.menu__header h2 {
  font-family: Shrikhand, "cursive";
  margin: 1.2rem 0;
  font-size: 3rem;
}
@media (min-width: 62.5em) {
  .menu__header h2 {
    margin: 2rem auto;
  }
}
.menu__header .card__heart {
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.menu__header .card__heart i {
  font-size: 2.5rem;
  position: absolute;
}
.menu__header .card__heart .heart__color {
  opacity: 0;
}
.menu__cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 62.5em) {
  .menu__cards {
    flex-direction: row;
    justify-content: center;
  }
}
.menu__card {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.menu__card h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 1.2rem 0;
}
@media (min-width: 62.5em) {
  .menu__card h3 {
    text-align: center;
  }
}
.menu__card h3::after {
  content: "";
  background: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3rem;
  height: 0.25rem;
}
@media (min-width: 62.5em) {
  .menu__card h3::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.menu__card .menu__item {
  background: #fff;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0.25rem 0.25rem 1rem #0000001a;
  overflow: hidden;
  margin: 1.8rem 0;
  cursor: pointer;
  max-width: 100%;
}
.menu__card .menu__item--text {
  flex: 1;
  overflow: hidden;
  line-height: 2.5rem;
}
.menu__card .menu__item--text h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 400;
}
.menu__card .menu__item--text p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 200;
}
.menu__card .menu__item--price {
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 0.5rem;
}

.btn__cards {
  padding: 4rem 0 6rem 0;
  display: flex;
  justify-content: center;
}
.btn__cards .btn__buy {
  padding: 1.75rem 5.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px #00000045;
  border-radius: 5rem;
  background: #686868 linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1.8rem;
  font-weight: 400;
}

/*======== Modèles ========*/
.menu__carte .btn, .resto .menu, .fonction__btn, .reserv__btn:link, .reserv__btn:visited {
  box-shadow: 0.5rem 0.6rem 0.7rem rgba(86, 88, 92, 0.22);
}

.menu__carte .btn, .menu__carte .entree .composition, .fonction__btn {
  margin-bottom: 2.5rem;
}

.header__title,
.footer__title,
.content__title {
  font-family: "Shrikhand", cursive;
}

.section__title {
  margin-bottom: 3rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
}

.header {
  height: 6.5rem;
  align-content: center;
}
.header__title {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
.header__title h1 {
  font-size: 3rem;
  text-align: center;
}

.reservation {
  text-align: center;
}

.reserv {
  background-color: #f6f6f6;
  height: auto;
  padding: 3.5rem;
  position: relative;
}
.reserv__location {
  background-color: #eaeaea;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserv__location .location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.reserv__location i {
  font-size: 1.8rem;
}
.reserv__location .input-location {
  background-color: #eaeaea;
  height: 3.5rem;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.reserv__title {
  display: block;
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
}
.reserv__subtitle {
  display: block;
  padding-bottom: 2rem;
  font-weight: 200;
  font-size: 1.7rem;
  line-height: 1.3;
}
.reserv .button {
  margin: 3rem;
}
.reserv__btn:link, .reserv__btn:visited {
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 2.5rem;
  padding: 1.5rem 2.3rem;
  color: #fff;
  transition: all 0.25s;
  font-size: 1.5rem;
}
.reserv__btn:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em rgba(86, 88, 92, 0.22);
}
.reserv__btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/***********************************/
/*      SECTION FONCTIONNEMENT        */
/***********************************/
.fonction {
  background-color: beige;
  padding: 3rem 2.5rem;
}
.fonction .section__body {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 62.5em) {
  .fonction .section__title {
    text-align: center;
  }
}
.fonction__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 62.5em) {
  .fonction__btns {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2.5rem;
  }
}
.fonction__btns .global__btn {
  position: relative;
}
.fonction__btns .global__btn .number-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #9356DC;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38%;
  left: 1%;
  transform: translate(-50%, -50%);
}
.fonction__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  color: #000;
  width: 32rem;
  height: 7.2rem;
  border-radius: 1.8rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}
.fonction__btn:hover {
  background-color: #F5EDFF;
}
.fonction .body-btn {
  color: #000;
}
.fonction .body-btn i {
  font-size: 2rem;
  color: grey;
}
.fonction .body-btn i:active {
  color: #9356DC;
}
.fonction .icon-btn {
  margin-right: 2rem;
}
.fonction .title-btn {
  font-size: 1.6rem;
  font-weight: 500;
}

/***********************************/
/*      SECTION RESTAURANTS        */
/***********************************/
.resto {
  background-color: #f6f6f6;
  height: auto;
  padding: 2.5rem 1.5rem;
}
.resto .section__body {
  margin: 3rem 0rem;
}
@media (min-width: 62.5em) {
  .resto .section__title {
    text-align: center;
  }
}
.resto .menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 56.25em) {
  .resto .menus {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.resto .menu {
  width: 32rem;
  height: 25rem;
  margin: 0 0.2rem;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1.8rem;
}
@media (min-width: 81.25em) {
  .resto .menu {
    width: 40rem;
  }
}
.resto .menu__hero {
  height: 17.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}
.resto .menu__hero img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resto .menu__info {
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: row;
}
.resto .menu__details {
  width: 70%;
}
.resto .menu__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8;
}
.resto .menu__description {
  font-size: 1.7rem;
  font-weight: 200;
}
.resto .menu__like-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.resto .menu__like-box .like {
  font-size: 2.5rem;
  color: #000;
}

main img {
  width: 100%;
  position: relative;
}

.menu__carte {
  position: absolute;
  top: 23.1rem;
  background-color: #f6f6f6;
  width: 100%;
  padding: 2.5rem;
  border-top-right-radius: 2.8rem;
  border-top-left-radius: 2.8rem;
  border: 1px solid black;
}
.menu__carte .name {
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.menu__carte .name .content__title {
  width: 100%;
}
.menu__carte .name .content__title h2 {
  font-size: 3rem;
}
.menu__carte .name .like-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu__carte .name .like-box .like {
  font-size: 2.5rem;
  color: #000;
}
.menu__carte .entree {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.menu__carte .entree .carte-title {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 200;
}
.menu__carte .entree .composition {
  margin-top: 2rem;
}
.menu__carte .btn {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 7.2rem;
  border-radius: 1.8rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.compo-btn {
  display: flex;
  color: black;
  width: 100%;
}
.compo-btn .btn-body {
  line-height: 2.5rem;
  width: 80%;
  padding: 1rem;
}
.compo-btn .btn-body .title-btn {
  font-size: 1.9rem;
  font-weight: 500;
}
.compo-btn .btn-body p {
  font-size: 1.7rem;
  font-weight: 200;
}
.compo-btn .btn-price {
  width: 20%;
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 1rem;
}

/***********************************/
/*             FOOTER              */
/***********************************/
footer {
  background-color: #353535;
  position: relative;
}
footer .footer__title {
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem 3rem 2rem 3rem;
}

.navigation {
  list-style: none;
  margin-bottom: 4rem;
}
.navigation li {
  margin-left: 2rem;
  padding: 0.6rem;
}
.navigation li a {
  color: #fff;
  font-size: 1.5rem;
}
.navigation li a.link {
  font-weight: 600;
}
.navigation li a.link i {
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
